

body {
    background-image: url("Images/Webpage_Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Css for the team banner */
.team-banner {
    background-image: url("Images/logo_background2.png");
}
.team-banner h1 {
    color: azure;
    text-align: center;
    padding: 20px;
}

/* Css for the Welcome logo */

.logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("Images/logo_background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.logo h1 {
    padding: 50px;
    color: azure;
}
/* End of css for the Welcome logo */

/* Css for the rules logo */

.rules {
    background-image: url("Images/logo_background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.rules h1 {
    padding: 25px;
    padding-left: 65px;
    padding-right: 65px;
    color: azure;
}




/* End of Css for the rules logo */

/* Css for the play button */

.play-button {
    background-image: url("Images/logo_background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.play-button h1 {
    padding: 25px;
    padding-left: 75px;
    padding-right: 75px;
    color: azure;
}


/* Css for the Rules page */


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
  text-align: center;
  padding: 1em;
}

.content {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 1em;
    flex-direction: row;
    align-items: stretch;
}

.rules_rule{
    background-image: url("Images/logo_background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  border: 1px solid #444;
  padding: 20px;
  width: 45%;
  margin: 20px;
  flex: 50%;
  box-sizing: border-box;
  flex-direction: row;
      color: azure;
}

.values {
    background-image: url("Images/logo_background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  border: 1px solid #444;
  padding: 20px;
  width: 45%;
  margin: 20px;
  flex: 50%;
  box-sizing: border-box;
  flex-direction: row;
      color: azure;
}



h1 {
  font-size: 2em;
      color: azure;
}

h2 {
  font-size: 1.5em;
      color: azure;
}






/* Css for Play page */
.play-background {
    background-image: url("Images/RulesPageBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Blue Chip Css */
.blue-chip img {
    width: 100px; 
    height: auto; 
}

.blue-chip {
    position: absolute;
    left: 30%; 
    bottom: 0; 
    transform: translateX(-50%); 
    transition: transform 0.3s ease; 
}

/* Red Chip Css */

.red-chip img {
    width: 90px; 
    height: auto; 
}

.red-chip {
    position: absolute;
    left: 40%; 
    bottom: 0; 
    transform: translateX(-50%); 
    transition: transform 0.3s ease; 
}

/* Green Chip Css */
.green-chip img {
    width: 90px; 
    height: auto; 
}

.green-chip {
    position: absolute;
    left: 50%; 
    bottom: 0; 
    transform: translateX(-50%); 
    transition: transform 0.3s ease; 
}

/* Black Chip Css */
.black-chip img {
    width: 112px; 
    height: auto; 
}

.black-chip {
    position: absolute;
    left: 60%; 
    bottom: 0; 
    transform: translateX(-50%); 
    transition: transform 0.3s ease; 
}


.deck-of-card img {
    right: 3%;
    position: absolute;
}

/* Ace Card Css */
.ace-card {
    position: absolute;
    top: 25%;
    right: 3%; 
}

/* Jack Card Css */
.jack-card {
    position: absolute;
    top: 28%;
    right: 3%; 
}


/*King Card Css */
.king-card {
    position: absolute;
    top: 32%;
    right: 3%;
}

.king-card img {
    width: 180px; 
    height: auto; 
}

/* Queen Card Css */

.queen-card {
    position: absolute;
    top: 36%;
    right: 3%;
}

.queen-card img {
    width: 180px; 
    height: auto; 
}
